:root {
	--max-tab-width: none;
	--show-titlebar-buttons: none;
	--tab-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--tab-font-size: 1em;
	--tab-height: 31px;
}

tab[muted] .tab-label::before {
	background: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg") no-repeat center / contain;
	display: inline-block;
	width: var(--tab-font-size);
	min-width: 12px;
	height: auto;
	content: "\00a0";
	position: relative;
	-moz-context-properties: fill, fill-opacity, stroke;
	fill: currentColor;
	stroke: transparent;
	margin: 0;
}

tab:hover[muted] .tab-label::before {
	display: none;
}

.titlebar-buttonbox-container {
	display: var(--show-titlebar-buttons);
}

:root:not([customizing]) #TabsToolbar {
	margin: 0 !important;
	border-radius: 0 !important;
	padding: 0 !important;
}

.tabbrowser-tab * {
	margin: 0 !important;
	border-radius: 0 !important;
	font-family: var(--tab-font-family) !important;
}

.tabbrowser-tab {
	align-items: center !important;
	font-size: var(--tab-font-size) !important;
	height: var(--tab-height);
	margin-bottom: 5px !important;
	min-height: 0 !important;
	padding-inline: 0 !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: var(--max-tab-width) !important;
}

.tab-close-button,
.new-tab-button,
#firefox-view-button,
#scrollbutton-up,
.tab-secondary-label,
#tabs-newtab-button,
#titlebar spacer,
#alltabs-button,
#scrollbutton-down,
#new-tab-button {
	display: none !important;
}

.tab-icon-image {
	height: auto !important;
	width: calc(var(--tab-height) / 1.5) !important;
	margin-right: 6px !important;
}

:root:not([customizing]) #nav-bar,
:root:not([customizing]) #urlbar[popover] {
	pointer-events: none;
	margin: 0 0 -40px !important;
	opacity: 0 !important;
}

:root:not([customizing]) #nav-bar:focus-within,
:root:not([customizing]) #urlbar[popover]:focus-within,
:root:not([customizing]) #nav-bar:has(#urlbar[popover]:focus-within),
:root:not([customizing]) #nav-bar:focus-within #urlbar[popover] {
	pointer-events: auto;
	margin: 0 0 auto !important;
	opacity: 1 !important;
}

:root[sizemode="normal"] #nav-bar {
	--uc-window-drag-space-width: 20px;
}

#titlebar {
	-moz-appearance: none !important;
}

#TabsToolbar {
	min-height: 0px !important;
}

#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox,
#tabbrowser-arrowscrollbox {
	min-height: 0 !important;
}

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button {
	-moz-appearance: none !important;
	height: 0px;
	padding: 0 !important;
	-moz-box-align: stretch;
	margin: 0 !important;
}

.accessibility-indicator,
.private-browsing-indicator {
	height: unset !important;
}

.accessibility-indicator > hbox {
	padding-block: 0 !important;
}

#tabbrowser-tabs tab:only-of-type {
	visibility: collapse !important;
}

#tabs-newtab-button:hover,
#tabbrowser-tabs .tabs-newtab-button:hover {
	background-color: var(--toolbarbutton-hover-background);
}

#tabs-newtab-button > .toolbarbutton-icon,
#tabbrowser-tabs .tabs-newtab-button > .toolbarbutton-icon {
	padding: 0 !important;
	transform: scale(0.6);
	background-color: transparent !important;
}

@media (-moz-os-version: windows-win10) {
	:root[sizemode="maximized"] #navigator-toolbox {
		padding-top: 7px !important;
	}
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive] {
	transition: height 0ms steps(1) 80ms;
}

#nav-bar {
	border-inline: var(--uc-window-drag-space-width) solid var(--toolbar-bgcolor);
}

#navigator-toolbox {
	appearance: toolbar !important;
}

